mat-card {
    border-color: 20px solid black;
    border-radius: 3%;
    width: 275px;
    height: 275px;
    background-color: #673ab7;
    color: white
}

mat-card:hover {
   background-color: white;
   color: black;
}


