<!-- <table mat-table [dataSource]="(courses$ | async) || []" class="mat-elevation-z8">

<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let course"> {{course.id}} </td>
</ng-container>

<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let course"> {{course.name}} </td>
</ng-container>

<ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let course"> {{course.description}} </td>
</ng-container>


<ng-container matColumnDef="credits">
    <th mat-header-cell *matHeaderCellDef> Creditos </th>
    <td mat-cell *matCellDef="let course"> {{course.credits}} </td>
</ng-container>

<ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let course"> {{course.price | currency }} </td>
</ng-container>


<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let course">

<!--      
        <button (click)="editCourse.emit(course)" mat-icon-button color="primary">
            <mat-icon color="primary">edit</mat-icon>
        </button>
        <button (click)="deleteCourse.emit(course)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
        </button> -->





    </td>
</ng-container> -->


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>