<h2 appLetragrande>Bienvenido a codeCamp!</h2>

<div class="grid">
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title appLetragrande>
                    Novedades
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Las ultimas novedades de codecamp. Actualizadas a diario</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title appLetragrande>
                    Cursos
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Enterate de nuevos cursos!</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title appLetragrande>
                    Beneficios
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Tienes muchos beneficios esperandote!</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>