<!-- <h1 mat-dialog-title>{{ editingCourse ? 'Editando ' + editingCourse.name : 'Creando Curso'}}</h1>
<div mat-dialog-content>
    <form [formGroup]="courseForm" class="grid">

        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">
                <mat-error *ngIf="nameControl.hasError('required')">
                    Completa el nombre del curso para continuar
                </mat-error>
                <mat-error *ngIf="nameControl.hasError('minlength')">
                    El nombre debe tener al menos {{nameControl.errors?.['minlength']?.requiredLength}} caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input formControlName="description" matInput type="text" name="description">
                <mat-error *ngIf="descriptionControl.hasError('required')">
                    Completa el campo para continuar
                </mat-error>
                <mat-error *ngIf="descriptionControl.hasError('minlength')">
                    La descripcion debe tener al menos {{descriptionControl.errors?.['minlength']?.requiredLength}} caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Creditos</mat-label>
                <input formControlName="credits" matInput type="text" name="credits">
                <mat-error *ngIf="creditsControl.hasError('required')">
                    Completa el campo para continuar
                </mat-error>
            </mat-form-field>
        </div>


        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Precio</mat-label>
                <input formControlName="price" matInput type="text" name="price">
                <mat-error *ngIf="priceControl.hasError('required')">
                    Completa el precio para continuar
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>

<div class="flex justify-content-center" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="onSubmit()">Confirmar</button>
</div>
 -->
