<h1 mat-dialog-title>Crear Alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" class="grid">
        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">
                <mat-error *ngIf="nameControl.hasError('required')">
                    Completa el campo para continuar
                </mat-error>
                <mat-error *ngIf="nameControl.hasError('minlength')">
                    El nombre debe tener al menos {{nameControl.errors?.['minlength']?.requiredLength}} caracteres
                </mat-error>
                <mat-error *ngIf="nameControl.hasError('noJuan ')">
                    El nombre no puede ser Juan.
                </mat-error>
    
            </mat-form-field>
        </div>
        <!-- podemos usar formControl o formControlName para enlazar el control al input-->
        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="surname" matInput type="text" name="surname">
            </mat-form-field>
        </div>
    
        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>email</mat-label>
                <input formControlName="email" matInput type="email" name="email">
            </mat-form-field>
        </div>
    
        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" name="password">
            </mat-form-field>
        </div>
    
       
    
    </form>
</div>

<div class="flex justify-content-center" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button (click)="onSubmit()">Confirmar</button>
</div>

<!-- <pre>
    {{userForm.value | json}}
</pre> -->