

<!-- SIDEBAR MODULE IZQUIERDA-->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

    </mat-drawer>
  
    <!-- TOOLBAR -->

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>CodeCamp</span>       
    </mat-toolbar>

    <!-- CONTENIDO -->
     <main class="p-3">
        <app-home>

        </app-home>
    </main>

  </mat-drawer-container>