.example-container {
    width: 100%;
    height: 100vh;
    border: 2px solid black;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    width: 200px;
  }

//clase del toolbar
  .example-spacer {
    flex: 1 1 auto;
  }

main {
    min-height: calc(100vh - #{64px});
}