<!-- MENU IZQUIERDA-->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul>
      <li><a href="google.com">Home</a></li>
      <li><a href="google.com">Alumnos</a></li>
      <li><a href="google.com">Cursos</a></li>
      <li><a href="google.com">Novedades</a></li>

    </ul>
    </mat-drawer>
  

    <mat-toolbar color="accent">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home" color="primary"></mat-icon>
        <span>codecamp</span>       
    </mat-toolbar>

     <main class="p-3">
<app-home></app-home>
<app-users></app-users>


    </main>

  </mat-drawer-container>