<h2 appLetragrande>Inscripciones</h2>

<div class="mb-3">
  <button (click)="onAdd()" mat-flat-button color="primary" type="button">
    <mat-icon>add</mat-icon>
    Inscribir
  </button>
</div>


<table mat-table [dataSource]="(inscriptions$ | async) || []" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id inscription">
    <th mat-header-cell *matHeaderCellDef>No. de Inscripcion</th>
    <td mat-cell *matCellDef="let inscription">{{ inscription.id }}</td>
  </ng-container>


  <!-- Nombre del Alumno -->
  <ng-container matColumnDef="alumno">
    <th mat-header-cell *matHeaderCellDef>Alumno</th>
    <td mat-cell *matCellDef="let inscription">{{ !!inscription.student ? inscription.student.name + ' ' +
      inscription.student.surname : '-' }}</td>
  </ng-container>


  <!-- Id Column -->
  <ng-container matColumnDef="id alumno">
    <th mat-header-cell *matHeaderCellDef>ID Alumno</th>
    <td mat-cell *matCellDef="let inscription">{{ inscription.student.id }}</td>
  </ng-container>

  <!-- Product Column -->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let inscription">{{ inscription.course.name }}</td>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Total a abonar</th>
    <td mat-cell *matCellDef="let inscription">{{ inscription.course.price | currency: 'EUR' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>